<?php
//Vos identifiants centreon ( attention, les caracteres de type $ ou * ne fonctionnent pas avec CLAPI)
$config['centreon']['user'] = 'admin';
$config['centreon']['password'] = 'admin';

//chemin de clapi
$config['centreon']['clapi'] = '/usr/share/centreon/bin/centreon';


//Scan BackGround

//activation du scan backGround pour les /16 et plus : true or false
$config['backGroundScanUse'] = true ;
//chemin de l'executable scanBackGround
$config['backGroundRoot'] = '/usr/share/discovery';


$config['backGroundScan'][0] = array("network" => "192.168.14.0/24",
                                    "community"=>"community",
                                    "version"=>"2c" );


//AutoAdd permet d'inserer directement une machine trouvé par OCD dans centreon de redemarrer le poller
//Poller, il faut specifier le poller qui va être utilisé pour les machines trouvées sur ce réseau

$config['backGroundScan'][1] = array("network" => "192.168.4.0/24",
                                     "community"=>"community",
				     "autoAdd" =>"true",
			             "poller" => "Central",
                                    "version"=>"2c" );

$config['backGroundScan'][2] = array("network" => "192.168.92.0/24",
                                     "community"=>"community",
                                   "version"=>"2c" );

/*
Detection des services sur un hôte
*/
 $config['service']['httpd'] = "HttpApache";   
 $config['service']['apache2'] = "HttpApache";   
 $config['service']['sshd'] = "OpenSSH";                               
 $config['service']['dns.exe'] = "Dns";
 $config['service']['sqlservr.exe'] = "SqlServer"; 
 $config['service']['oracle.exe'] = "OracleServer";
 $config['service']['postgres.exe'] = "PostgresServer"; 
 $config['service']['WsusService.exe'] = "WindowsWsus"; 
 $config['service']['w3wp.exe'] = "HttpIIS";
 $config['service']['mysqld'] = "MysqlServer";
 $config['service']['tomcat'] = "HttpTomcat";
 
?>
